[Unit]
Description=Starts the OpenSM InfiniBand fabric Subnet Managers on All Ports
DefaultDependencies=false
Before=remote-fs-pre.target
Requires=rdma.service
After=network.target rdma.service

[Service]
Type=forking
ExecStart=/usr/bin/opensm-all.launch

[Install]
WantedBy=sysinit.target
