[Unit]
Description=Starts the OpenSM InfiniBand fabric Subnet Managers on All Ports
DefaultDependencies=false
Before=network.target remote-fs-pre.target
Requires=rdma.service
After=rdma.service

[Service]
Type=forking
ExecStart=/usr/bin/opensm-all.launch

[Install]
WantedBy=network.target
